.container {
  margin: 0px auto;
  width: 640px;
  padding: 100px 20px 20px 20px;
}


th {
  text-align: left;
}

html {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

body {
  background: #95A5A6;
}

nav.top-nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background: #7F8C8D;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 1;
}

nav > ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline;
}

nav > ul > li {
  padding: 0 5px 0 20px;
  display: inline;
  line-height: 70px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

nav > ul > li a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #545454;
}

nav > ul > li a:hover {
  color: #DBA2F2;
}

nav > ul > li a:hover span {
  color: #79E8D2;
}

nav > ul > li > a > span {
  padding-right: 6px;
  font-size: 30px;
}

form {
  display: block;
  text-align: center;
}

h1.home {
  font-size: 50px;
  color: #8E44AD;
  text-shadow: 1px 1px 2px black;
}

div.home {
  width: 46%;
  height: 270px;
  display: inline-block;
  vertical-align: top;
  background-color: #8E44AD;
  margin: 5px;
  border-bottom: 3px solid #642F7A;
  border-right: 3px solid #642F7A;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -moz-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -o-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -ms-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  box-shadow: rgba(0,0,0,.2) 4px 4px 0;
}

div.home h2 {
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size: 30px;
  color: #5CDBC2;
  padding: 0 0 15px 15px;
}

div.home input.btn {
  margin-top: 12px;
  width: 80px;
}

div.deck {
  height: 168px;
  width: 280px;
  background-color: #8E44AD;
  display: inline-block;
  border-bottom: 3px solid #642F7A;
  border-right: 3px solid #642F7A;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -moz-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -o-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -ms-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  margin: 15px;
}

div.deck p {
  color: #5CDBC2;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 1px 1px 2px black;
  line-height: 168px;
  width: 100%;
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.round-name {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #642F7A;
}

.container div.card-div {
  display: table;
  height: 225px;
  width: 375px;
  background-color: #8E44AD;
  margin: 40px auto;
  padding: 10px 20px 7px 20px;
  border-bottom: 3px solid #642F7A;
  border-right: 3px solid #642F7A;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -moz-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -o-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  -ms-box-shadow: rgba(0,0,0,.2) 4px 4px 0;
  box-shadow: rgba(0,0,0,.2) 4px 4px 0;
}

/*  THIS TABLE METHOD ISN'T REALLY WORKING (ABOVE & BELOW THIS LINE)*/

span.card div.inner {
  display: table-cell;
  vertical-align: middle;
}

span.card {
  display: block;
  text-align: center;
  /*line-height: 200px;*/
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size: 40px;
  color: #5CDBC2;
  /*text-shadow: 3px 3px 3px #16A085;*/
}

table.results {
  line-height: 24px;
  font-size: 18px;
  /*margin-left: 40px;*/
}

table.results td {
  padding-right: 25px;
}

div.round-score {
  margin-top: 40px;
  font-size: 24px;
}

table.user-history {
  line-height: 26px;
  font-size: 18px;
  margin-top: 18px;
}

table.user-history tr:first-child {
  font-weight: bold;
  text-decoration: underline;
}

table.user-history td {
  padding-right: 40px;
}

table.user-history td a {
  color: #34495e;
  text-decoration: none;
  padding-right: 40px;
}

