<div class="container">
  <% if @decks %>
    <% @decks.each do |deck| %>
      <a href='/rounds/<%= deck.id %>/<%= @round.id %>'><span class='deck'><%= deck.name %></span></a>
    <% end %>
  <% end %>
</div>
