<div class="container">
  <% if @decks %>
    <% @decks.each do |deck| %>
      <a href='/rounds/<%= deck.id %>/<%= @round.id %>'>
      <div class="deck">
        <p class='deck'><%= deck.name %></p>
      </div>
      </a>
    <% end %>
  <% end %>
</div>
