<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel='stylesheet' href='/css/boostrap.css'>
  <link rel='stylesheet' href='/css/flat-ui.css'>
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src='/js/bootstrap.min.js'></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <% if logged_in? %>
  <nav class="top-nav">
    <ul>
      <li><a href='/user'><span class="fui-user"></span>profile</a></li>
      <li><a href='/decks'><span class="fui-checkbox-checked"></span>trivia</a></li>
      <li><a href='/logout'><span class="fui-cross"></span>logout</a></li>
    </ul>
  </nav>
  <% end %>
  <%= yield %>
</body>
</html>
