<div class="container">
  <form action='/login' method='post'>
    <input type='text' name='form[email]' placeholder='email' required=true>
    <input type='text' name='form[password]' placeholder='password' required=true>
    <input type='submit'>
  </form>
</div>
