<div class="container">

  <h1>Results</h1>

  <table class="results">
    <% @guesses.each do |guess| %>
      <tr>
        <td>
          <% if guess.correctness != 0 %>
          <span class="fui-check" style="color: darkgreen"></span>
          <% else %>
          <span class="fui-cross" style="color: darkred"></span>
          <% end %>
        </td>
        
        <td><%= guess.prompt %></td>
        
        <td <% if guess.correctness == 0 %> style="color: darkred"<% end %>><%= guess.response %></td>
        
        <td style="color: darkgreen"><% if guess.correctness == 0 %>
            <%= guess.solution %>
            <% end %></td>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="round-score">
    <p>SCORE: <%= @round.score %>%</p>
  </div>
</div>
